.idea
node_modules
dist
.env
.terraform
db
ansible/playbooks/keys
*.pub
helm/overviewer/minecraft-server
helm/overviewer/render
render
world
restic_env.yaml
etc-dnsmasq.d
etc-pihole
build
secret.yml
secret.yaml
providers.yaml
!cluster/helm/monitoring/grafana/templates/secret.yaml
*.env
