version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  wireguard:
    image: lscr.io/linuxserver/wireguard:v1.0.20210914-ls119
    container_name: wireguard
    depends_on:
      - pihole
    cap_add:
      - NET_ADMIN
      #- SYS_MODULE
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
      - SERVERURL= #optional
      - SERVERPORT= #optional
      - PEERS=
      #- PEERDNS=127.0.0.1 #optional
      #- INTERNAL_SUBNET=255.255.255.0 #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
      - LOG_CONFS=true #optional
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - ./config:/config
      #- /lib/modules:/lib/modules
    restart: unless-stopped

  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.6.0
    container_name: node_exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    restart: unless-stopped
    volumes:
      - '/:/host:ro,rslave'

  smartctl-exporter:
    image: matusnovak/prometheus-smartctl:latest
    container_name: smartctl-exporter
    privileged: true
    ports:
      - "9902:9902"
    restart: unless-stopped
